<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>addict Beauty dashboard</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700')">
    <link href="https//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../../Javascript/dashboard.js"></script>
    <script src="https://use.fontawesome.com/07b0ce5d10.js"></script>
    <link rel="stylesheet" href="../../../Css/Produits /Panier/dashboard.css">
</head>

<body>
    <div class="page-topbar">
        <div class="quick-area">



            <ul class="pull-right info-menu user-info">
                <li class="profile">
                    <a href="#" data-toggle="dropdown" class="toggle" aria-expanded="false">
                        <img src="../../../Image/12c9d2c178d58472b15878abb7649244.jpeg" class="img-circle img-inline">
                        <span>Nelson <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu profile fadeIn ">
                        <li>
                            <a href="#settings">
                                <i class="fa fa-wrench"></i>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="#profile">
                                <i class="fa fa-user"></i>
                                Profile
                            </a>
                        </li>

                        <li class="last">
                            <a href="ui-login.html">
                                <i class="fa fa-lock"></i>
                                Sign Out
                            </a>
                        </li>
                    </ul>


                </li>
            </ul>

        </div>
    </div>

    <div class="page-sidebar expandit">
        <div class="sidebar-inner" id="main-menu-wrapper">
            <div class="profile-info row ">
                <div class="profile-image ">
                    <a href="ui-profile.html">
                        <img alt="" src="../../../Image/12c9d2c178d58472b15878abb7649244.jpeg"
                            class="img-circle img-inline class=" img-responsive img-circle">
                    </a>
                </div>
                <div class="profile-details">
                    <h3>
                        <a href="ui-profile.html">Nelson Caterino</a>
                    </h3>
                    <p class="profile-title">Web Developer</p>

                </div>
            </div>

            <ul class="wraplist" style="height: auto;">
                <!--          <li class="menusection">Main</li>-->
                <li><a href=""><span class="sidebar-icon"><i class="fa fa-dashboard"></i></span> <span
                            class="menu-title">Dashboard</span></a></li>
                <li><a href="Historique-D'achats.html"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span
                            class="menu-title">Historique D'achats</span></a></li>
                <li><a href=""><span class="sidebar-icon"><i class="fa fa-users"></i></span> <span
                            class="menu-title">Liste des Acheteurs</span></a></li>
                <li><a href="Message.html"><span class="sidebar-icon"><i class="fa fa-envelope"></i></i></span> <span
                            class="menu-title">Messages</span></a></li>
                <li><a href="Favories.html"><span class="sidebar-icon"><i class="fa fa-suitcase"></i></span> <span
                            class="menu-title">Favories</span></a></li>
                <li><a href=""><span class="sidebar-icon"><i class="fa fa-lock"></i></span> <span
                            class="menu-title">Sign Out</span></a></li>
            </ul>
        </div>
    </div>



</body>

</html>