absl-py==0.9.0
asgiref==3.2.3
astor==0.8.1
backports.weakref==1.0.post1
base==1.0.4
cycler==0.10.0
Django==3.1.6
django-debug-toolbar==2.1
django-suit==2.0a1
enum34==1.1.6
gast==0.3.3
grpcio==1.26.0
gunicorn==20.0.4
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.2
mock==3.0.5
numpy==1.18.1
protobuf==3.11.2
pyception==0.1.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
response==0.4.0
scipy==1.4.1
six==1.14.0
sqlparse==0.3.0
tensorboard==1.12.2
termcolor==1.1.0
Werkzeug==0.16.0
