body {
    background-color: #f2ddde;
}

#Logo-shopping-bag{
    height:30px ;
    width: 30px;
}
#buttonretour{
    background-color: transparent;
    border: none;
}

.navbar-collapse{
    font-family: 'Julius Sans One', sans-serif;
    list-style:none;
}

a:hover {
    text-decoration: none;
    color: purple;

}




.footer {
    position: fixed;
    left: 10;
    bottom: 0;
    width: 100%;
    background-color: plum;
    color: black;
    text-align: center;

  
}