<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/404.css">
</head>
<body>
    <div class="logo">
            <button id="buttonretour" onclick="goBack()">Addict Beauty</button>

    </div>
        <div class="Degrade">
              </div>
              <div class="error">
                    <h1>404</h1>
                </div>
                <div class="Bientôt">
                        <p>On Reviens Bientôt</p>
                    </div>


</body>
</html>