<!DOCTYPE html>

<head>
  <html lang="fr">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../Php/Produits.php">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Addict Beauty</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../Css/TEST.css">
</head>

<body>

  </div>
  <header>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-collapse" href="./Lifestyle.html">Addict Beauty</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Lifestyle</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Catalogue</a>


            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Produits</a>
              <a class="dropdown-item" href="#">Marques</a>
              <a class="dropdown-item" href="#">Catalogue complets</a>

            </div>
          <li class="nav-item">
            <a class="nav-link" href="#">Biographie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a></li>
          <div class="Connections">
          
              <div class="container">
                <div class="row">
                  <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->

                    <img class="dropdown-toggle" data-toggle="dropdown" id="Logo-shopping-bag"
                      src="../Image/shopping-bag.png" alt="Logo de Panier pour ce connecter">
                    <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                      <li>
                        <div class="row">
                          <div class="col-md-12">
                            <form class="form" role="form" method="post" action="login" accept-charset="UTF-8"
                              id="login-nav">
                              <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail2"
                                  placeholder="Email address" required>
                              </div>
                              <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword2"
                                  placeholder="Password" required>
                              </div>
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox"> Remember me
                                </label>
                              </div>
                              <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">Sign in</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <input class="btn btn-primary btn-block" type="button" id="sign-in-google"
                          value="Sign In with Google">
                        <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter"
                          value="Sign In with Twitter">
                      </li>
                    </ul>
                    </li>
        </ul>
      </div>
      </ul>
      </div>
    </nav>
    </nav>

    <!-- /.navbar-collapse -->
    </nav>
    </div>
    </div>
    </div>

  </header>

  <div id="carouselExampleControls " class="carousel slide" data-ride="carousel">
    <div class="carousel-inner 1">
      <div class="carousel-item active">
        <img class="d-block w" src="../Image/Carousel/soap-2726394.jpg" alt="First slide">
      </div>
      <div class="carousel-item 2">
        <img class="d-block w-50 w-50" src="../Image/Carousel/klee-4240765.jpg" alt="Second slide">
      </div>
      <div class="carousel-item 3">
        <img class="d-block w-50" src="../Image/Carousel/cream-4418928.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <footer class="footer">
    <i class="fas fa-mobile-android-alt"></i>
    <p>*Le montant minimal de commande sur www.addictbeauty.fr est de €20,- hors frais d'envoi. Nos conditions de vente
      sont applicables en l'espèce. Les offres promotionnelles du site www.addictbeauty.fr sont valables au cours de la
      période susvisée, dans la limite des stocks disponibles, sur les articles signalés et à l’exclusion des produits :
      « prix variable », lots, sets, coffrets, compositions, routines, kits, mini/midi, calendrier de l’avent, outlet et
      fins de collection. Attention : les offres promotionnelles du site www.addictbeauty.fr ne sont pas cumulables avec
      les offres promotionnelles de nos autres canaux de distribution (courrier, téléphone, magasins).</p>
    <div class="footer-copyright text-center py-3"><a href="https://copyright.be/droit_auteur_loi_juridique.html">©</a>
      2019 Copyright Design By Nelson Caterino
    </div>
    </div>

  </footer>













































  <script src="../Javascript/Catalogue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

</html>